* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #C9B79C url('../images/oscar-background.png') repeat;
    font-family: 'Exo', sans-serif;
}
input, textarea, select, button {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    background-color: #F1E0C5;
    color:#342A21;
    padding: 3px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #342A21;
    transition: 0.5s ease-in-out;
}
button:hover {
    background-color: #342A21;
    color: #F1E0C5;
    border: 2px solid #F1E0C5;
}
.game-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    background-color: #342A21;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #C9B79C;
}
.middle-container {
    width: auto;
}
.user-score-field {
    width : 500px;
    background-color : #342A21;
    color : white;
    margin : 0 auto;
    padding: 5px;
    text-align : center;
}
.game-board {
    width : 500px;
    height : 800px;
    background-color : #F1E0C5;
    margin : 0 auto;
    display : flex;
    flex-wrap : wrap;
}
.game-board-cell {
    text-align : center;
}
.hand-cell-left {
    background: url("../images/leo-left.png") no-repeat center center;
}
.hand-cell-right {
    background: url("../images/leo-right.png") no-repeat center center;
}
.oscar-cell {
    background: url("../images/oscar.png") no-repeat center center;
}
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    color: white;
    background-color: #342A21;
}
.high-scores {
    width: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #342A21;
}
.high-scores__list {
    padding: 10px;
}
