* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #C9B79C;
}

body {
    background-color: #C9B79C;
}

/* HEADER */
.header {

}

/* LOGO */
.logo {

}

/* NAVIGATION */
.navigation {

}

/* MAIN */
.main {

}

/* SECTION */
.section {
    width: 70%;
    margin: 0 auto;
}

/* HERO SECTION */
.hero {
    width: 100%;
}

.hero__carousel--view {
    width: 100%;
    height: 500px;
    background: #C9B79C;
    overflow: hidden;
    position: relative;
}
.hero__carousel-wrapper {
    position: relative;
}

.carousel__slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 100%;
    transition: 0.5s ease-in-out;
}

.carousel__slide--active {
    left: 0;
    z-index: 1111;
}
.carousel__slide--z-index {
    z-index: 2222;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 5555;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.hero__information {
    color: white;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    z-index: 5555;
    text-align: center;
}
.hero__title {
    font-weight: lighter;
    font-size: 48px;
}
.hero__description {
    font-size: 20px;
}
.hero__button {
    display: block;
    color: white;
    margin: 10px auto;
    width: 180px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
}

.hero__button:hover {
    color: black;
    border: 2px solid white;
    background: white;
}

@media screen and (max-width: 768px) {
    .hero__title {
        font-size: 32px;
    }

    .hero__description {
        font-size: 16px;
    }

    .hero__button {
        font-size: 18px;
        padding: 3px;
    }

}


/* FEATURES SECTION */
.features {

}

/* PRODUCT INFO SECTION */
.product-info {
    text-align: justify;
    background: #F1E0C5;
}

.product-info__info-container {
    display: flex;
}

.info-container__info {
    flex: 1;
}

.info__title {
    font-size: 24px;
    padding: 30px 30px 10px 40px;
}

.info__description {
    padding: 0 30px 30px;
}

.info-container__img {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-img__feature1 {
    background-image: url("https://www.movieartarena.com/imgs/bladerunner2049ff.jpg");
}

.info-img__feature2 {
    background-image: url("https://ae01.alicdn.com/kf/HTB1cU2Ub50TMKJjSZFNq6y_1FXan/Wonder-Woman-Movie-Poster-2017-DC-Comics-Gal-Gadot-Film-Art-24x36.jpg");
}

.info-img__feature3 {
    background-image: url("https://motionpictureart.com/wp-content/uploads/2018/02/GhostBustersMoviePosterDutch1.jpg");
}

@media only screen and (max-width: 1007px) {
    .info__title {
        font-size: 18px;
        padding: 10px 30px 0;
    }

    .info__description {
        padding: 0 10px 5px;
    }
}

@media only screen and (max-width: 640px) {
    .product-info__info-container {
        display: flex;
        flex-direction: column;
    }

    .info__description {
        order: 1;
    }

    .info-container__img {
        order: 2;
        height: 300px;
    }
}

/* TEAM INFO SECTION */
.team-info {

}

/* PREMIERE INFO SECTION */
.premiere-form {
    background-color: #71816D;
    color: #F1E0C5;
    font-size: 18px;
    padding: 20px;
}

.premiere-form__flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.premiere-form__item {
    width: 60%;
    padding: 10px;
}

.premiere-form__item p {
    padding: 10px;
}

.input {
    width: 330px;
    height: 30px;
}

.button {
    width: 125px;
    height: 30px;
    background-color: #F1E0C5;
    color: #71816D;
    font-size: 18px;
}

.button--green {
    background-color: #71816D;
    color: #F1E0C5;
}

/* CONTACT SECTION */
.contact {
    background-color: #F1E0C5;
    padding: 20px;
}

.contact__flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-map {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contact-map__item {
    padding: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}

.contact-form p {
    padding: 10px;
    text-align: center;
}

.contact-message {
    width: 330px;
    height: 150px;
}

@media screen and (max-width: 600px) {
    .contact__flex-container {
        flex-direction: column;
    }

    .contact-map {
        width: 100%;
    }

    .contact-map__item {
        text-align: center;
    }

    .contact-form {
        width: 100%;
        margin-top: 20px;
    }

    .premiere-form__item {
        width: 100%;
    }
}

/* FOOTER */
.footer {
    width: 100%;
    height: 70px;
    background-color: #342A21;
    color: #C9B79C;
}

.footer__flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer_row {
    display: flex;
    width: 50%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.footer-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #C9B79C;
    padding: 5px;
}

.footer-link:hover {
    color: #342A21;
    background-color: #C9B79C;
}
