* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {

}

/* LOGO */
.logo {

}

/* NAVIGATION */
.menu{
    position: fixed;
    width: 100%;
    display: flex;
    background-color:#342A21;
    text-transform: uppercase;
    
}

.menu a{
    text-decoration: none;
    color:#C9B79C;
}

.menu__logo{
    flex-grow: 1;
    height: 50px;

}     


.menu__list{
    display: flex;
    flex-grow: 5;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__logo, .menu__list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
}

.menu__list-item{

    background-color:#342A21;
    flex-grow: 1;
    
}

.menu__list-item:hover{
opacity: 0.5;
}

@media (max-width: 1024px) {
 
    .menu__logo, .menu__list-item{
        
        height: 40px;
        font-size: 16px;

    }
}    

@media (max-width: 768px){
    .menu, .menu__list{
        flex-wrap: wrap;

    }
    li{
        /* display: block; */

    font-size: 12px;
    /* height: 10px; */
    text-transform: uppercase;
    }
    .menu__list-item {
        width: 33.3%;
    }
    .menu__logo {
        width: 100%
    }
}

/* MAIN */
.main {

}

/* SECTION */
.section {

}

/* HERO SECTION */
.hero {

}

/* FEATURES SECTION */
.features {

}

/* PRODUCT INFO SECTION */
.product-info {

}

/* TEAM INFO SECTION */
.team-info {

}

/* PREMIERE INFO SECTION */
.premiere-form {

}

/* CONTACT SECTION */
.contact {

}

/* FOOTER */
.footer {

}