* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {

}

/* LOGO */
.logo {

}

/* NAVIGATION */
.menu{
    display: flex;
    background-color:#71816D;
    
}

.menu a{
    text-decoration: none;
    color:white;
}

.menu__logo{
    flex-grow: 1;
    height: 50px;

}     


.menu__list{
    display: flex;
    flex-grow: 5;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__logo, .menu__list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
}

.menu__list-item{
    background-color:#71816D;
    flex-grow: 1;
    
}

.menu__list-item:hover{
opacity: 0.5;
}

@media (max-width: 1024px) {
    .menu__list{
        /* flex-direction: column; */
    }
    .menu__logo, .menu__list-item{
        
        height: 40px;
        font-size: 16px;

    }
}    

@media (max-width: 768px){
    .menu, .menu__list{
        flex-direction: column; 
    }
    li{
        /* display: block; */

    font-size: 12px;
    text-transform: uppercase;
    flex-wrap: wrap;
    }
}

/* MAIN */
.main {

}

/* SECTION */
.section {

}

/* HERO SECTION */
.hero {

}

/* FEATURES SECTION */
.features {

}

/* PRODUCT INFO SECTION */
.product-info {

}

/* TEAM INFO SECTION */
.team-info {

}

/* PREMIERE INFO SECTION */
.premiere-form {

}

/* CONTACT SECTION */
.contact {

}

/* FOOTER */
.footer {

}