* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #C9B79C;
}

/* HEADER */
.header {

}

/* LOGO */
.logo {

}

/* NAVIGATION */
.navigation {

}

/* MAIN */
.main {

}

/* SECTION */
.section {
    width: 70%;
    margin: 0 auto;
}

/* HERO SECTION */
.hero {

}

/* FEATURES SECTION */
.features {

}

/* PRODUCT INFO SECTION */
.product-info {

}

/* TEAM INFO SECTION */
.team-info {

}

/* PREMIERE INFO SECTION */
.premiere-form {
    background-color: #71816D;
    color: #F1E0C5;
    font-size: 18px;
    padding: 20px;
}
.premiere-form__flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.premiere-form__item {
    width: 60%;
    padding: 10px;
}
.premiere-form__item p {
    padding: 10px;
}
.input {
    width: 330px;
    height: 30px;
}
.button {
    width: 125px;
    height: 30px;
    background-color: #F1E0C5;
    color: #71816D;
    font-size: 18px;
}
.button--green {
    background-color: #71816D;
    color:  #F1E0C5;
}

/* CONTACT SECTION */
.contact {
    background-color: #F1E0C5;
    padding: 20px;
}
.contact__flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact-map {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.contact-map__item {
    padding: 10px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}
.contact-form p {
    padding: 10px;
    text-align: center;
}
.contact-message {
    width: 100%;
    height: 150px;
}

/* FOOTER */
.footer {
    width: 100%;
    height: auto;
    background-color: #342A21;
    color: #C9B79C;
}
.footer__flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer_row {
    display: flex;
    width: 50%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
}
.footer-link {
    text-decoration: none;
    text-transform: uppercase;
    color:  #C9B79C;
    padding: 5px;
}
.footer-link:hover {
    color:  #342A21;
    background-color: #C9B79C;
}

@media screen and (max-width: 767px) {
    .section {
        width: 90%;
    }
    .input {
        width: 100%;
    }
    .contact__flex-container {
        flex-direction: column;
    }
    .contact-map {
        width: 100%;
    }
    .contact-map__item{
        text-align: center;
    }
    .contact-form{
        width: 100%;
        margin-top: 20px;
        padding: 0px;
    }
    .contact-form p {
        width: 100%;
        padding: 5px;
        margin: 0px;
    }
    .premiere-form__item {
        width: 100%;
    }
    .footer_row {
        width: 100%;
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .section {
        width: 90%;
    }
    .input {
        width: 100%;
    }
}